@charset "utf-8";
@font-face {
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'HancomMalangMalang-Regular';
}
header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}
.wrap {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.wrap h1 img {
    width: 120px;
}
.wrap .search {
    width: 40%;
    display: flex;
    position: relative;
}
.wrap .search input {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #eee;
}
.wrap .search img {
    width: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(0.5);
}
.wrap nav ul {
    display: flex;
    gap: 30px;
    font-size: 13px;
}
.wrap .login ul {
    display: flex;
    gap: 30px;
    color: #5f5f5f;
}
.wrap .menu {
    cursor: pointer;
}
.wrap .menu span {
    width: 20px;
    height: 2px;
    background-color: #5f5f5f;
    display: block;
}
.wrap .menu span:nth-child(2) {
    margin: 5px 0;
}
#visual {
    width: 100%;
    height: 100vh;
    background-image: url(../image/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease-in;
    position: relative;
}
#visual .line {
    width: 100%;
    height: 0.5px;
    background-color: #0C1033;
    position: absolute;
    top: 55%;
    z-index: 100;
}
#visual .v_txt {
    position: absolute;
    top: 50%;
    left: 70px;
    font-size: 25px;
}
#visual .v_txt p {
    margin-bottom: 20px;
}
#visual .v_txt i {
    color: #0c235e;
}
#visual .v_all {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    background: #202645;
    background: -moz-linear-gradient(right, #2d345fb6 0%, #30395dd1 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(right, #2d345f7c 0%, #30395dd1 0%, #FFFFFF 100%);
    background: linear-gradient(to left, #3B49A1 0%, #30395dd1 0%, #ffffff00 100%);
}
#visual .reser_box {
    display: flex;
    flex-direction: column;
    width:auto;
    position: relative;
    top: 20%;
}
#visual .reser_box p {
    color:#20233f;
    margin-bottom: 5px;
    text-align: center;
}
#visual .reser_box input {
    width: 95%;
    height: 50px;
    margin: 10px 5px 5px 0;
    border-radius: 10px;
    border: none;
    z-index: 10;
    text-align: center;
}
#visual .reser_box2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}
#visual .reser_box2 a {
    width: 100%;
    color: #fff;
    margin-bottom: 5px;
    background-color: #7d87a0;
    border-radius: 30px;
    padding: 20px 10px;
    text-align: center;
}
#visual .reser_box2 .rb2_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.subpage {
    width: 25%;
    height: 70%;
    position: fixed;
    top: 10%;
    right: 3%;
    padding: 50px;
    background-color: rgba(1, 3, 26, 0.9);
    z-index: 100;
    color: #fff;
    display: flex;
    justify-content: space-between;
    display: none;
}
.subpage .left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.subpage .right {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
}
.subpage .right span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
}
.subpage .right li:first-child span {
    transform: rotate(45deg);
}
.subpage .right li:last-child span {
    transform: translateY(-2px) rotate(-45deg);
}
.page2 {
    width: 100% auto;
    margin: 0 auto;
    height: 1000px;
    position: relative;
}
.page2 .p2_best1 {
    display: flex;
    align-items: center;
}
.page2 .p2_best1 .p2_left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
.page2 .p2_best1 .p2_left span {
    width: 20px;
    height: 1px;
    background-color: #0C1033;
    display: block;
    transition: 0.2s ease-in;
    
}
.page2 .p2_best1 .p2_left .p2_left1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page2 .p2_best1 .p2_left .p2_left1 a {
    background-color: #4B5F93;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.page2 .p2_best1 .p2_left .p2_left2 {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page2 .p2_best1 .p2_left .p2_left3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page2 .p2_best1 .p2_center {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    right: 0;
    opacity: 1;
}
.page2 .p2_best1 .p2_center img {
    width: 230px;
}
.page2 .p2_best1 .p2_center .item {
    width: 230px;
    text-align: center;
    margin: 20px;
}
.page2 .p2_best1 .p2_center .item p {
    background-color: #FFEDF7;
    padding: 10px 0;
    width: 100%;
}
.page2 .p2_best1 .p2_right button {
    background-color: #4B5F93;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}
.page2 .p2_best2 {
    display: flex;
    align-items: center;
}
.page2 .p2_best2 .p2_center {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    right: 0;
    display: none;
}
.page2 .p2_best2 .p2_center img {
    width: 230px;
}
.page2 .p2_best2 .p2_center .item {
    width: 230px;
    text-align: center;
    margin: 20px;
}
.page2 .p2_best2 .p2_center .item p {
    background-color: #FFEDF7;
    padding: 10px 0;
    width: 100%;
}
.page2 .p2_best3 {
    display: flex;
    align-items: center;
}
.page2 .p2_best3 .p2_center {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    right: 0;
    display: none;
}
.page2 .p2_best3 .p2_center .item {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 80px;
}
.page2 .p2_best3 .p2_center img {
    width: 300px;
}
.page2 .p2_best3 .p2_center .item p {
    background-color: #FFEDF7;
    padding: 10px 0;
    text-align: center;
}
.page2 .p2_best3 .p2_center .item button {
    background-color: #4B5F93;
    width: 55%;
    height: 20px;
    border-radius: 30px;
    border: none;
    color: #fff;
    margin-top: 10px;
    font-size: 11px;
    cursor: pointer;
}
.page3 {
    width: 90%;
    margin: 50px auto;
}
.page3 h3 {
    text-align: center;
    font-size: 30px;
    padding: 100px 0 30px 0;
}
.page3 .p3_line {
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: #4B5F93;
}
.page3 .p3_center {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 0;
}
.page3 .p3_center img {
    width: 300px;
}
.page3 .p3_center .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page3 .p3_center .item b {
    margin: 10px 0;
    font-size: 15px;
}
.page3 .p3_center .item span {
    font-size: 20px;
}

.page3 .p3_bottom {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.page3 .p3_bottom button {
    background-color: #4B5F93;
    width: 100px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.page7 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.page7_all {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.page7 .p7_txt {
    background: #7c92c9;
    width: 30%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 20PX;
    border-radius: 30px;
}
.page7 .p7_txt h3 {
    word-break: keep-all;
    font-size: 25px;
    color: #fff;
}
.page7 .p7_txt ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.page7 .p7_txt ul li {
    background-color: #0C1033;
    width: 55%;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.page7 .p7_img {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    left: 33%;
}
.page7 .p7_img a {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0 0 70px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.page7 .p7_img img {
    width: 300px;
    border-top-left-radius: 30px;
}
.page7 .p7_img .p7_img_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 20px auto;
}
.page7 .p7_img .p7_img_txt span {
    font-size: 12px;
    color: #929292;
}
.page7 .p7_img .p7_img_txt h4 {
    font-size: 17px;
    font-weight: 600;
    color: #0C1033;
}
.page7 .p7_img .p7_img_txt b {
    font-size: 13px;
    color: #929292;
}
.page4 {
    width: 90%;
    margin: 100px auto;
}
.page4 h3 {
    text-align: center;
    font-size: 30px;
    padding: 100px 0 30px 0;
}
.page4 .p4_line {
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: #4B5F93;
}
.page4 .p4_center {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 0;
}
.page4 .p4_center img {
    width: 300px;
}
.page4 .p4_center .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page4 .p4_center .item b {
    margin: 10px 0;
    font-size: 15px;
}
.page4 .p4_center .item span {
    font-size: 20px;
}

.page4 .p4_bottom {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.page4 .p4_bottom button {
    background-color: #4B5F93;
    width: 100px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.page5 {
    margin: 0 0 50px 0;
    position: relative;
}
.page5 .p5_center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    background-color: #FFEDF7;
    border-top: 1px solid #4B5F93;
    border-bottom: 1px solid #4B5F93;
    margin-bottom: 20px;
}
.page5 .p5_center p {
    font-size: 18px;
}
.page5 .p5_center span {
    font-size: 28px;
    font-weight: 600;
}
.page5 .p5_center h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    margin-top: 20px;
}
.page5 .p5_center img {
    width: 200px;
    border-radius: 100%;
}
.page6 {
    width: 100%;
    position: relative;
}
.page6 b {
    position: absolute;
    top: -50px;
    left: 15%;
    font-size: 20px;
    font-style: italic;
}
.page6_all {
    width: 70%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page6_all .guide1 {
    width: 15%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ca9797;
}
.page6_all .guide1:hover {
    background-color: #cdaaaa;
}
.page6_all .guide_box {
    width: 70%;
    padding: 10px 140px;
    height: 50vh;
    border: 1px solid #01031A;
    border-radius: 50px;
    text-align: center;
    position: relative;
}
.page6_all .guide_box p {
    background-color: #f1f3ff;
    padding: 15px;
    border-radius: 15px;
}
.page6_all .guide_full {
    position: absolute;
    text-align: start;
    left: 0;
    margin: 50px 0;
}
.page6_all .guide_full p {
    background-color: #fff;
}
.p6_bottom {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 50px;
}
.p6_bottom .reservation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.p6_bottom .reservation input {
    width: 100%;
    height: 30px;
    background-color: #e0e9ff;
    border: none;
}
.p6_bottom_r .search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p6_bottom_r .search-container button {
    background-color: #efd8d8;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
}
.p6_bottom_r .search-container button:hover {
    background-color: #2e1a1a;
    color: #fff;
}
#country-selection {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    z-index: 100;
}
.sub-menu {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    background: white;
    border: 1px solid #ddd;
    padding: 5px;
    width: 120px;
    z-index: 10;
}
.sub-menu .select-sub {
    margin: 10px;
}
.sub-menu .select-sub:hover {
    background-color: #ffebeb;
    padding: 3px;
}
.select-country {
    position: relative;
    cursor: pointer;
    padding: 5px;
}
.select-country:hover {
    background-color: #eee;
}
.has-sub:hover .sub-menu {
    display: block;
}
.search-container button {
    background-color: #efd8d8;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
}
.search-container button:hover {
    background-color: #2e1a1a;
    color: #fff;
}
.search-container #selected-country {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    height: 20px;
}
.page8 {
    height: 100vh;
    background-image: url(../image/main3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.page8 .p1_txt {
    color: #fff;
    text-align: right;
    position: absolute;
    top: 20%;
    right: 15%;
    font-size: 30px;
    line-height: 1.5;
}
.page8 button {
    position: absolute;
    bottom: 30%;
    right: 15%;
    background-color: #FFEDF7;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
footer {
    background-color: #01031A;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
footer .left {
    display: flex;
    gap: 30px;
    align-items: center;
}
footer h5 {
    font-size: 30px;
}
footer .left span {
    margin: 10px 0;
    font-size: 13px;
}
footer .left1 {
    display: flex;
    flex-direction: column;
}
footer .left2 {
    display: flex;
    flex-direction: column;
}
footer .left2 span {
    font-size: 13px;
    margin: 10px 0;
}
footer .left3 p {
    font-size: 13px;
}
footer a img {
    width: 100px;
}